planification/outputs/schedule.xlsx
planification/activity_data/*
planification/outputs/modules_activities.xlsx
planification/course_makers/MECA654_data/MECA654_ressources.csv
.gitignore
planification/course_makers/MECA654_data/MECA654_graph.md
planification/courses_activities_dataframes/MATH642_ressources.html
planification/courses_activities_dataframes/MECA654_ressources.csv
planification/courses_activities_dataframes/MECA655_ressources.csv
planification/courses_activities_dataframes/MECA655_ressources.html
planification/courses_graphs/MATH642_graph.md
planification/courses_graphs/MECA654_graph.md
planification/courses_graphs/MECA655_graph.md
planification/outputs/.~lock.modules_activities.xlsx#
planification/outputs/rooms_activities.xlsx
planification/outputs/teachers_activities.xlsx
planification/courses_activities_dataframes/MATH642_ressources.csv
planification/courses_activities_dataframes/INFO631_ressources.csv
planification/courses_activities_dataframes/INFO631_ressources.html
planification/courses_activities_dataframes/INFO632_ressources.csv
planification/courses_activities_dataframes/INFO632_ressources.html
planification/courses_activities_dataframes/MECA654_ressources.html
planification/courses_graphs/INFO631_graph.md
planification/courses_graphs/INFO632_graph.md
**.~lock.*.xlsx#
**/planification/existing_activities/*
planification/courses_activities_dataframes/EASI651_ressources.csv
planification/courses_activities_dataframes/EASI651_ressources.html
planification/courses_activities_dataframes/INFO642_ressources.csv
planification/courses_activities_dataframes/INFO642_ressources.html
planification/courses_activities_dataframes/MATE651_ressources.csv
planification/courses_activities_dataframes/MATE651_ressources.html
planification/courses_graphs/EASI651_graph.md
planification/courses_graphs/INFO642_graph.md
planification/courses_graphs/MATE651_graph.md
planification/outputs/students_unavailability_matrix_IDU-3-G1.txt
planification/outputs/students_unavailability_matrix_IDU-3-G2.txt
planification/outputs/students_unavailability_matrix_MM-3-A1.txt
planification/outputs/students_unavailability_matrix_MM-3-A2.txt
planification/outputs/students_unavailability_matrix_MM-3-B1.txt
planification/outputs/students_unavailability_matrix_MM-3-B2.txt
planification/outputs/students_unavailability_matrix_MM-3-C1.txt
planification/outputs/students_unavailability_matrix_MM-3-C2.txt
planification/outputs/students_unavailability_matrix_SNI-3-D1.txt
planification/outputs/students_unavailability_matrix_SNI-3-D2.txt
planification/course_makers/make_MECA652.py
planification/courses_activities_dataframes/INFO641_ressources.csv
planification/courses_activities_dataframes/INFO641_ressources.html
planification/courses_activities_dataframes/PROJ631_ressources.csv
planification/courses_activities_dataframes/PROJ631_ressources.html
planification/courses_activities_dataframes/PROJ632_ressources.csv
planification/courses_activities_dataframes/PROJ632_ressources.html
planification/courses_graphs/INFO641_graph.md
planification/courses_graphs/MATH651_graph.md
planification/courses_graphs/PROJ631_graph.md
planification/courses_graphs/PROJ632_graph.md
planification/outputs/tracked_ressources.yml
forms/generated_forms/*.xlsx
*.xlsx#
planification/outputs/modules_activities_planification.xlsx

forms/Indisponibilites_Enseignant_NOM_PRENOM.xlsx
forms/managers.html
forms/managers_emails.txt
